/* Styling index.html */
/* General Properties, Arranged Alphabetically */
.header {
  font-family: 'Irish Grover', cursive;
  width: fit-content;
}

.text {
  font-family: 'Noto Serif', serif;
}

.nav-icon {
  background-image: url('../images/button-image.jpg');
  cursor: pointer;
  height: 65px;
  width: 70px;
  border: 2px solid red;
}

.nav-text {
  cursor: pointer;
  background-color: white;
  font-size: 20px;
  margin-top: 10px;
  height: fit-content;
  border: 2px solid red;
}

.wiggle {
  animation: wiggle 2s;
}

/* Specific Properties, Arranged According to Appearance */
body {
  background-image: url('../images/main-background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.welcome-message {
  border: 2px solid red;
  width: fit-content;
  margin-top: 70px;
  margin-left: 1050px;
  margin-bottom: 20px;
}

.username-header {
  border: 2px solid orange;
  width: fit-content;
}

.pending-trip-header {
  border: 2px solid yellow;
  width: fit-content;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 290px;
  margin-left: 225px;
  margin-top: 90px;
}

.display-area {
  border: 2px solid grey;
  box-shadow: 5px 5px 5px grey;
  background-color: white;
  height: 80%;
  width: 80%;
  margin: 0 auto;
  margin-top: 75px;
  border-radius: 25px;
}

.display-header {
  border: 2px solid purple;
  margin: 0 auto;
  font-size: 50px;

}


.trip-card-display-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid red;
  height: 70%;
  overflow-x: scroll;
}

.trip-card {
  border: 1px solid purple;
  height: 300px;
  width: 300px;
  margin-top: 15px;
}

.trip-card-image-container {
  border: 2px solid black;
  width: fill;
  height: 50%;
}

.trip-card-info-container {
  border: 2px solid blue;
  height: 50%;
  width: fill
}

.trip-card-header {
  border: 2px solid orange;
  width: fit-content;
  font-size: 20px;
  margin: 0 auto;
}

.trip-card-dates {
  border: 2px solid yellow;
  width: fit-content;
  margin: 0 auto;
}

.trip-card-status {
  border: 2px solid green;
  width: fit-content;
}

form {
  border: 4px solid blue;
}

button {
  background-color: lightblue;
}

.budget-display {
  border: 4px solid purple;
}

.back-to-main {
  margin-top: 10px;
  margin-left: 10px;
}

/* Properties Added via Javascript, Arranged Alphabetically */

.hidden {
  display: none;
}


