/* Styling index.html */
/* General Properties, Arranged Alphabetically */
.card-image {
  border-radius: 10px;
  height: 100px;
  width: 200px;
}

.display {
  background-color: white;
  border: 2px solid grey;
  border-radius: 25px;
  box-shadow: 5px 5px 5px grey;
  height: 300px;
  margin: 0 auto;
  margin-top: 20px;
  width: 300px;
}

.display-header {
  font-family: 'Irish Grover', cursive;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

.trip-card {
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 2px 2px 2px grey;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
  overflow-x: scroll;
  width: 200px;
}

.trip-card-display-container {
  height: 85%;
  overflow-x: scroll;
}

.trip-card-info-container {
  height: 100px;
  width: fill
}

.trip-card-image-container {
  height: 100px;
  width: fill;
}

.trip-card-dates {
  margin: 0 auto;
  width: fit-content;
}

.trip-card-header {
  font-size: 20px;
  margin: 0 auto;
  width: fit-content;
}

.trip-card-status {
  font-size: 15px;
  margin-left: 5px;
  width: fit-content;
}

.text {
  font-family: 'Noto Serif', serif;
}

/* Specific Properties, Arranged According to Appearance */
body {
  margin: 0px;
}

.login-container-and-image {
  margin-top: 30vh;
}

.login-container {
  background-color: #3CC8BC;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 2px 2px 2px grey; 
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0 auto;
  width: 350px;
}

.login-header {
  font-size: 45px;
  margin-top: 10px;
  text-align: center;
}

.login-form {
  font-size: 20px;
  margin: 0 auto;
}

.login-label {
  font-size: 15px;
}

.login-input {
  margin-top: 2px;
  width: 200px;
}

.login-button {
  background-color: #BBADD9;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100px;
}

.login-error {
  font-size: 14px;
  margin: 10px;
}

.login-image {
  height: 210px;
}

.traveler-dashboard {
  background-image: url('../images/main-background-2.jpg');
  background-position: left;
  height: 100vh;
  margin: 0px;
  width: 100vw;
}

.welcome-message-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 15px;
  width: 50vw;
}

.username-header {
  margin: 0 auto;
  width: fit-content;
}

.pending-trip-message {
  height: fit-content;
  margin: 0 auto;
  width: fit-content;
}

.display-area {
  display: flex;
  flex-direction: row;
}

.budget-text {
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}

.budget-card {
  font-size: 30px;
  margin: 0 auto;
  margin-top: 30px;
  width: fit-content;
}

.create-new-trip-display {
  background-color: white;
  border: 1px solid grey;
  border-radius: 25px;
  box-shadow: 5px 5px 5px grey;
  margin: 0 auto;
  margin-top: 20px;
  width: 95vw;
}

.new-trip-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

form {
  margin-bottom: 30px;
  width: fit-content;
}

button {
  background-color: #3CC8BC;
  cursor: pointer;
  margin-top: 5px;
}

.form-image {
  height: 90px;
  margin-top: 20px;
}

.new-trip-cost-display {
  font-size: 15px;
}

.new-trip-cost-header {
  font-size: 15px;
  text-align: center;
}

.new-trip-cost {
  font-size: 30px;
  margin: 0 auto;
}

.agent-fee {
  font-size: 15px;
  margin: 0 auto;
}

.message {
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  width: fit-content;
}

/* Elements added by Javascript */
.disabled {
  cursor: auto;
}

.hidden {
  display: none;
}